:root{
    --red :  rgb(219, 37, 37);
}

* {box-sizing:border-box}

body{
    background-color: rgb(241, 238, 238);
}

p{
    font-family: "josefin sans";
    text-align: justify;
    padding-left: 2rem;
    padding-right: 2rem;
}

footer p{
    font-family: "josefin sans";
    text-align: center;
}

footer{
    padding-top: 15rem;
}

header{
    padding: 3rem;
}

h1, h3{
    font-family: "dancing script";
}

h2{
    font-family: "josefin sans";
}

h3{
    font-weight: 400;
    font-size:x-large;
    padding-top:1rem;
    padding-left:1rem;
    text-align: center;
    text-decoration:underline;
    text-decoration-color: var(--red);
}

/*form*/
.form1{
    width : 100%;
    max-width : 410px;
    margin : 0 auto;
    margin-top: 3rem;
    padding-top : 0;
    padding : 0 0.8rem 0.8rem 01rem;
    border: solid 2px var(--red);
    border-radius: 15px;
}


.form1 fieldset, div{
    margin: 1rem 0;
    border: none;
    padding: .5rem 2%;
}

.form1 label{
    display: block;
    padding-top: 1rem;
    padding-bottom: .5rem;
    font-size: 1rem;
    font-weight: bold;
}

.form1 input[type="text"],
.form1 input[type="date"],
.form1 input[type="email"],
.form1 select{
    background-color:#fff;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #000;
    width:100%;
    max-width: 350px;
}

textarea{
    background-color:#fff;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #000;
    width: 100%;
	height: 100px;
    max-width: 350px; 
}

.form1 input[type="submit"]
{
    border: 2px solid black ;
    background-image: linear-gradient(#d9623a, var(--red));
    color: #000;
    font-family: "josefin sans";
    font-weight: bold;
    border-radius: 6px;
    padding: .8rem;
    width: 100%;
    max-width: 350px;
    margin-bottom: 1rem;
    margin-left: 5%;
}

.form1 input:required,
.form1 textarea:required{
    border-left: solid 8px var(--red); 
}

.form1 input:required:valid,
.form1 textarea:required:valid{
    border-left: solid 8px green; 
}


/* slideshow */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  background-color:  white;
  padding: 2rem;
}

.mySlides img {
    max-width: 400px;
    border: 6px solid var(--red);
    display: block;
    margin-left: auto;
    margin-right: auto;
}



/* menu hamburger*/
#menu {
    display : block;
    font-size : 2rem;
    text-decoration : none;
    padding : 0.5rem 1rem;
    position : absolute;
    top : 0;
    right : 0;
}

#menu::before {
    content : "≡";
    color: black;
}

.navigation {
    display : flex;
    flex-direction : column;
    list-style : none;
}

.navigation li {
    display : none;
}

.navigation a {
    display : block;
    text-decoration : none;
    color : black;
    text-align : center;
    padding : 0.75rem;
    font-weight : 700;
    transition : 0.5s;
}

.navigation a:hover {
    text-decoration :overline;
    text-decoration-color:var(--red);
}

.show {
    display : flex;
    flex-direction : column;
}

.show li {
    display : block;
}

#menu.show::before {
    content : "X";
    position : absolute;
    top : 0;
    right : 0;
    padding : 1rem;
}

.navigation.show + h1, h1.show {
    display : none;
}


/* new */
.images img{
    width: 170px;
    height: 227px;
    border: solid 0.5rem var(--red);
    
}


.large{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 37%;
}

.large p{
    margin-left: -6rem;
    margin-right: -6rem;
    text-align: center;
}

.thanks p{
    text-align: center;
}
