body {
  display: grid;
  height: 100vh;
  grid-template:  auto auto /  auto auto auto;
}
  
header {
  background: rgb(85, 82, 82);
  padding: 2rem;
  grid-column: 1 / 4;
}

nav {
	margin: 0 auto 2rem;
	max-width: 90vw;
  background: black;
	display: flex;
	align-items: center;
}

a {
  text-decoration: none;
  flex: 1 1 100%;
  color:white;
  text-align: center;
}

a:hover {
	font-weight: 700;
	text-decoration: underline;
	text-decoration-color: yellow;
}

h1 {text-align: left;
}

p{
  text-align: center;   
}

main {
  background: rgb(175, 169, 169);
  grid-column: 1 / 3;
  padding: 1rem;
}
  
.aside {
  background: white;
  grid-column: 3 / 4;
  padding: 1rem;
}
  
footer {
  background: rgb(85, 82, 82);
  padding: 2rem;
  text-align: center;
  grid-column: 1 / 4;
}

footer p {
  color: white;
  text-align: left;
}
  