body{
    font-family: "Roboto";
    font-weight: 400;
    background-color : white;
    max-width : 960px;
    margin : 0 auto;
    display : grid;
}

main {
    max-width : 1000px;
    display : grid;
    grid-template-columns : 1fr;
    text-align : center;
    gap : 1rem;

}

header {
    background-color : aliceblue;
    align-items : center;
}

h1 {
    color:black;
    font-weight : 400;
    text-align : left;
    padding : 1rem 0 0 1rem;
}

#menu {
    display : block;
    font-size : 2rem;
    text-decoration : none;
    padding : 0.5rem 1rem;
    position : absolute;
    top : 0;
    right : 0;
}

#menu::before {
    content : "≡";
    color: black;
}

.navigation {
    display : flex;
    flex-direction : column;
    list-style : none;
}

.navigation li {
    display : none;
}

.navigation a {
    display : block;
    text-decoration : none;
    color : black;
    text-align : center;
    padding : 0.75rem;
    font-weight : 700;
    transition : 0.5s;
}

.navigation a:hover {
    text-decoration :overline;
    text-decoration-color: steelblue;
}

.show {
    display : flex;
    flex-direction : column;
}

.show li {
    display : block;
}

#menu.show::before {
    content : "X";
    position : absolute;
    top : 0;
    right : 0;
    padding : 1rem;
}

.navigation.show + h1, h1.show {
    display : none;
}

h2 {
    color : rgb(12, 90, 153);
}

.temples section{
    background-color: aliceblue;
    padding-top: 1rem;
}

footer {
    background-color : aliceblue;
    padding : 0.1rem;
}

footer p {
    color: black;
    text-align : center;
    font-weight: 700;
}