body {
    font-size: 16px;
    font-family: Roboto, sans-serif;
    width : 100%;
    max-width : 410px;
    margin : 0 auto;
    padding-top : 0;
    padding : 0 0.8rem 0.8rem 0.8rem;
}

header {
    padding: .5rem 2%;
    background-color: #400543;
    color: white;
    text-align: center;

}

main {
    padding: 0 2%;
    min-height: 20rem;
    background-color: rgb(217, 206, 214);
}

footer{
    padding: .5rem 2%;
    background-color: #400543;
    color: white;
    text-align: center;
    margin: 1rem 0;    
}

.form1 fieldset, div{
    margin: 1rem 0;
    border: none;
    padding: .5rem 2%;
}

.form1 label{
    display: block;
    padding-top: 1rem;
    padding-bottom: .5rem;
    font-size: 1rem;
    font-weight: bold;
}


.star {
    padding :0;
    padding-bottom : 5px;
}

.radio_star{
    display : flex;
    flex-direction : row;
    justify-content : space-between;
}

.radio_star label {
    width : 100%;
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    font-size : 0.75rem;
    padding-top : 0.5rem;
}


.form1 input[type="text"],
.form1 input[type="date"],
.form1 select
{
    background-color:#fff;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #000;
    width:100%;
    max-width: 350px;
}

textarea{
    background-color:#fff;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #000;
    width: 100%;
	height: 100px;
    max-width: 350px; 
}

.form1 input[type="radio"],
.form1 input[type="checkbox"]
{
    margin-right: 6px;
}

.check{
    font-style: italic;
    font-weight: 400;
}

.optional{
    color: blue;
    font-weight: 400;
}

.form1 input[type="submit"]
{
    border: 2px solid rgb(72, 70, 70) ;
    background-image: linear-gradient(#c1bebd, #908e8d);
    color: #000;
    border-radius: 6px;
    padding: .8rem;
    width: 100%;
    max-width: 350px;
    margin-bottom: 1rem;
    margin-left: 5%;
}

p{
    padding: 1rem;
}