@media (min-width: 740px) {
    header {
        display : flex;
        justify-content : space-between;
    }

    h1 {
        text-align : left;
        padding : 0 0 0 1rem;
    }

    #menu {
        display : none;
    }

    .navigation {
        display : flex;
        flex-direction : row;
        padding-right : 2rem;
    }

    .navigation li {
        display : flex;
        flex : 0 0 auto;
    }

    .temple {
        grid-template-columns : 1fr 1fr 1fr;
    }

    .temple img {
        height : 15vw;
    }
}